@layer reset, tokens, fonts, typography, layout, grid, flow;

@import url("https://ux.redhat.com/assets/packages/@rhds/tokens/css/global.css") layer(tokens);
@import url("https://ux.redhat.com/styles/reset.css") layer(reset);
@import url("https://ux.redhat.com/styles/fonts.css") layer(fonts);
@import url("https://ux.redhat.com/styles/typography.css") layer(typography);
@import url("https://ux.redhat.com/styles/grid.css") layer(grid);

@layer typography {
  :where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
  }
}

@layer layout {
  body {
    margin-inline: var(--rh-space-lg);
  }

  main {
    margin: 0 auto;
    max-width: 1200px;
    container: container / inline-size;
  }
}

@layer flow {
  :where(p, ul, ol, dl) {
    margin-block: var(--rh-space-lg) var(--rh-space-2xl);
  }

  :where(li) {
    margin-block: var(--rh-space-md);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    margin-block-end: var(--rh-space-2xl);
  }

  :where(h1, h2, h3, h4, h5, h6) + :where(h2, h3, h4, h5, h6) {
    margin-block-start: var(--rh-space-2xl);
  }

  .grid {
    margin-block-end: var(--rh-space-4xl);
  }

  hr {
    margin-block-end: var(--rh-space-4xl);
  }
}